In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("./vietnam_exchange_rate.csv")

In [3]:
df.head()

,ngay,ma_ngoai_te,ten_ngoai_te,mua_tien_mat,mua_chuyen_khoan,ban
0,2/1/2020,USD,US DOLLAR,23135,23165.00,23305.00
1,2/1/2020,EUR,EURO,25092.31,25345.77,26238.80
2,2/1/2020,GBP,POUND STERLING,29969.49,30272.21,30602.78
3,2/1/2020,JPY,YEN,206.01,208.09,215.42
4,2/1/2020,AUD,AUSTRALIAN DOLLAR,15283.98,15438.36,15763.80

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37882 entries, 0 to 37881
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ngay              37882 non-null  object
 1   ma_ngoai_te       37882 non-null  object
 2   ten_ngoai_te      37882 non-null  object
 3   mua_tien_mat      37882 non-null  object
 4   mua_chuyen_khoan  37882 non-null  float64
 5   ban               37882 non-null  float64
dtypes: float64(2), object(4)
memory usage: 1.7+ MB

In [5]:
#Thay thế các giá trị "-" bằng NaN
df.replace("-", pd.NA, inplace=True)

In [6]:
df.isnull().sum()

ngay                    0
ma_ngoai_te             0
ten_ngoai_te            0
mua_tien_mat        15152
mua_chuyen_khoan        0
ban                     0
dtype: int64

In [7]:
#Chuyển cột ngày theo kiểu datetime dd/mm/yyyy

df['ngay'] = pd.to_datetime(df['ngay'], format='%m/%d/%Y', errors='coerce')
df['ngay'] = pd.to_datetime(df['ngay'], format='%d/%m/%Y', errors='coerce')

#Sắp xếp lại thứ tự ngày tăng dần
df.sort_values(by='ngay', ascending=True, inplace=True)

#Chuyển các cột số sang kiểu float
df['mua_tien_mat'] = pd.to_numeric(df['mua_tien_mat'], errors='coerce')
df['mua_chuyen_khoan'] = pd.to_numeric(df['mua_chuyen_khoan'], errors='coerce')
df['ban'] = pd.to_numeric(df['ban'], errors='coerce')

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 37882 entries, 0 to 37881
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ngay              37722 non-null  datetime64[ns]
 1   ma_ngoai_te       37882 non-null  object
 2   ten_ngoai_te      37882 non-null  object
 3   mua_tien_mat      22730 non-null  float64
 4   mua_chuyen_khoan  37882 non-null  float64
 5   ban               37882 non-null  float64
dtypes: datetime64[ns](1), float64(3), object(2)
memory usage: 2.0+ MB

In [9]:
# Lọc các DataFrame riêng biệt cho mỗi loại tiền tệ
df_usd = df[df['ma_ngoai_te'] == 'USD']
df_euro = df[df['ma_ngoai_te'] == 'EUR']
df_jpy = df[df['ma_ngoai_te'] == 'JPY']
df_aud = df[df['ma_ngoai_te'] == 'AUD']
df_gbp = df[df['ma_ngoai_te'] == 'GBP']

In [10]:
df_usd.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1896 entries, 0 to 37862
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ngay              1888 non-null   datetime64[ns]
 1   ma_ngoai_te       1896 non-null   object
 2   ten_ngoai_te      1896 non-null   object
 3   mua_tien_mat      1896 non-null   float64
 4   mua_chuyen_khoan  1896 non-null   float64
 5   ban               1896 non-null   float64
dtypes: datetime64[ns](1), float64(3), object(2)
memory usage: 103.7+ KB

In [11]:
df_euro.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1894 entries, 1 to 37863
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ngay              1886 non-null   datetime64[ns]
 1   ma_ngoai_te       1894 non-null   object
 2   ten_ngoai_te      1894 non-null   object
 3   mua_tien_mat      1894 non-null   float64
 4   mua_chuyen_khoan  1894 non-null   float64
 5   ban               1894 non-null   float64
dtypes: datetime64[ns](1), float64(3), object(2)
memory usage: 103.6+ KB

In [12]:
df_jpy.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1894 entries, 3 to 37865
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ngay              1886 non-null   datetime64[ns]
 1   ma_ngoai_te       1894 non-null   object
 2   ten_ngoai_te      1894 non-null   object
 3   mua_tien_mat      1894 non-null   float64
 4   mua_chuyen_khoan  1894 non-null   float64
 5   ban               1894 non-null   float64
dtypes: datetime64[ns](1), float64(3), object(2)
memory usage: 103.6+ KB

In [13]:
df_aud.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1894 entries, 4 to 37866
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ngay              1886 non-null   datetime64[ns]
 1   ma_ngoai_te       1894 non-null   object
 2   ten_ngoai_te      1894 non-null   object
 3   mua_tien_mat      1894 non-null   float64
 4   mua_chuyen_khoan  1894 non-null   float64
 5   ban               1894 non-null   float64
dtypes: datetime64[ns](1), float64(3), object(2)
memory usage: 103.6+ KB

In [14]:
df_gbp.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1894 entries, 2 to 37864
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ngay              1886 non-null   datetime64[ns]
 1   ma_ngoai_te       1894 non-null   object
 2   ten_ngoai_te      1894 non-null   object
 3   mua_tien_mat      1894 non-null   float64
 4   mua_chuyen_khoan  1894 non-null   float64
 5   ban               1894 non-null   float64
dtypes: datetime64[ns](1), float64(3), object(2)
memory usage: 103.6+ KB

In [15]:
df_usd.to_csv("./data_clean/usd_rates.csv", index=False)
df_euro.to_csv("./data_clean/euro_rates.csv", index=False)
df_gbp.to_csv("./data_clean/gbp_rates.csv", index=False)
df_jpy.to_csv("./data_clean/jpy_rates.csv", index=False)
df_aud.to_csv("./data_clean/aud_rates.csv", index=False)